@model IEnumerable<My_First_Finance_App.Models.Category>
<h2>
    Categories
    <a asp-action="Create" class="badge bg-success font-075">Create New</a>
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    <a asp-controller="Category" asp-action="Details" asp-route-categoryId="@category.CategoryId" class="btn btn-info btn-sm">Details</a>
                    <a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@category.CategoryId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>